view
db/*
!db/index.js
!.gitkeep
temp
node_modules
package-lock.json
jajal_ffmpeg.js
mask.png
my-session.json
srv.js
img.js
tes.js
emojimix.js
emojis.json
test-session.json
lib/pinterest.js
start.txt
tesdb.js
.env